<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibraryGPT</title>
    
    <!-- stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

    <!-- scripts -->
    <script src="{{ url_for('static', filename='scripts/index.js') }}" defer></script>

    <!-- icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=send" />


</head>
<body>
    {% include 'partials/header.html' %}

    <div class="workspace container-fluid">
        <div class="row">

            <div class="col-lg-9 col-sm-12 directory-container" id="directory-container">
                <div class="row document-search-wrapper">
                    <input class="document-search-input" type="text" name="documents-search" placeholder="Text to search for text in all documents ..."
                    id="documents-search">
                    <span class="top-k-wrapper">
                        <span>Top-k:</span>
                        <input class="top-k-input" type="text" name="top-k" id="top-k-input" value="5" placeholder="Top-k Value">
                    </span>
                    <div class="search-results card-slider d-none" id="search-results">
                        
                    </div>
                </div>
                <div class="row folders-wrapper">
                    <div class="folders-header">
                        <input type="text" name="directory" id="directory-input" class="directory-selector" placeholder="Insert Folder Directory Path">
                        <button id="generate-embeddings" class="generate-embeddings-button">
                            <span>Process</span>
                        </button> 
                    </div>
                    <div class="folders-grid card-slider d-none" id="folders-grid">
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-12 chat-container" id="chat-container">
                <div class="chat-header">
                    <button onclick="fullScreenChat()">
                        <img class="icon-expand" src="{{ url_for('static', filename='svgs/open_in_full.svg') }}" alt="">
                    </button>
                    <button onclick="fullScreenChatMobile()" class="mobile-only">
                        <img class="icon-expand mobile-only" src="{{ url_for('static', filename='svgs/close_fullscreen.svg') }}" alt="">
                    </button>
                </div>

                <div class="chat-message-wrapper card-slider" id="chat-zone">
                </div>

                <div class="start-chat-message-wrapper" id="start-chat-message">
                    <div class="chat-messages-suggestions">
                        <button onclick="sendMessage('Summarise all documents', output_format_request='popup')">Summarise all documents</button>
                        <button onclick="sendMessage('What are the main topics in the documents?', output_format_request='popup')">What are the main topics in the documents?</button>
                    </div>
                </div>
                
                <div class="chat-footer" id="chat-footer">
                    <textarea 
                        class="chat-input-text card-slider" 
                        id="chat-input-text"
                        rows="1"
                        cols="50"
                        placeholder="Type your message here..."
                    ></textarea>
                    <button onclick="sendMessage('', output_format_request='text')">
                        <span class="material-symbols-outlined">
                            send
                            </span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</body>
</html>