:root {
    --white: #fff;
    --black: #000;
    --gray: #8a8a8a;
    --primary-font-color: #13131b;
    --secondary-font-color: #3683ff;
    --primary-bg-color: rgba(240, 208, 197, 0.15);
    --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --box-shadow-hover: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

html::-webkit-scrollbar-track, .cool-scroll::-webkit-scrollbar-track, .card-slider::-webkit-scrollbar-track, .cool-scroll::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.2);border-radius:10px;
    background-color:#F5F5F500
}
  
  html::-webkit-scrollbar,.cool-scroll::-webkit-scrollbar, .card-slider::-webkit-scrollbar{
    background-color:#F5F5F5F5;
    height:10px;
    width:10px
}

html::-webkit-scrollbar-thumb,.cool-scroll::-webkit-scrollbar-thumb, .card-slider::-webkit-scrollbar-thumb{
    background-color:#CCC;
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.2)
} 

body{
    /* font-family: 'Changa', sans-serif; */
    font-size: 18px;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: var(--primary-font-color);
    background-color: var(--primary-bg-color);
    height: 100vh;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    background: inherit;
    border: inherit;
    outline: inherit;
}



.header-section {
    color: var(--black);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    height: 60px; /* Header height */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    position: sticky;
    top: 0;
    z-index: 999999;
    box-sizing: border-box; /* Ensure padding and border don't overflow */
}



.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

.inactive-link {
    pointer-events: none;
    cursor: default;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 960px) {
    .desktop-only {
      display: none !important;
    }
    .mobile-only {
      display: block !important;
    }
}
/* Toggle Panel */
.panel-section {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    height: 100vh;
    transition: 0.5s;
}

.panel-section .header {
    padding: 20px;
    /* border-bottom: 1px solid #e0e0e0; */
    text-align: center;
    box-shadow: var(--box-shadow);
    font-weight: bold;
    font-size: medium
}

.panel-section .settings {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: left;
    font-weight: bold;
    font-size: medium;
    box-shadow: var(--box-shadow);
}

.panel-section .item {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.panel-section .item a {
    padding-left: 15px;
    font-size: 1rem;
}

.directory-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: block;
}

.document-search-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.document-search-wrapper, .folders-wrapper{
    margin: 30px 30px 0px 30px;
}

.document-search-wrapper .document-search-input{
    width: 80%;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    outline: none;
    box-shadow: var(--box-shadow);
}

.document-search-wrapper .top-k-input{
    max-width: 66px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    outline: none;
    box-shadow: var(--box-shadow);
    margin-left: 10px;
    text-align: center;
}

.document-search-wrapper .top-k-wrapper{
    width: fit-content;
    padding-right: 0;
}

.folders-wrapper{
    background-color: #fff;
    border-radius: 8px;
}

.folders-header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
}

.folders-header button{
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;

    background-color: none;
    box-shadow: var(--box-shadow);
    color: var(--primary-font-color);
}

.folders-header button:hover{
    box-shadow: var(--box-shadow-hover);
}

.folders-header input{
    padding: 10px;
    width: 60%;
    border-radius: 8px;
    border-color: #eee;
    box-shadow: var(--box-shadow);
    outline: none;
}

.folders-grid{
    border-radius: 8px;
    display: grid;
    grid-template-rows: repeat(16, minmax(0, 1fr));
    row-gap: 1rem;
    /* column-gap: 1.5rem; */
    grid-auto-flow: row;
    line-height: 2.14rem;
    padding: 20px;
    /* max-height: 80vh; */
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.folder-box{
    width: 200px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    padding: 10px 20px;
    /* height: 126px; */
    text-decoration: none;
    color: inherit;
    width: 100%;
    outline: none;
}


.folder-image {
    width: 190px;
    height: 190px;
    background-size: cover;
    background-position: center;
    display: block;
    border-radius: 8px;
    border: 1px solid #eee;        
}

.folder-name {
    display: block;
    /* max-width: 200px; */
    overflow: hidden;
    /* white-space: nowrap;
    text-overflow: ellipsis; */
    text-align: left;
    position: relative;
    /* bottom: 50px; */
    /* background: #eee; */
    /* background: linear-gradient(to down, rgba(169, 208, 113, 0), rgba(136, 173, 215, 1));
    background: linear-gradient(to top, rgba(10, 10, 10, 1), rgba(0, 0, 0, 0)); */
    color: #000;
    height: 50px;
}

.search-results {
    background-color: #fff;
    position: absolute; /* Position relative to the nearest positioned ancestor */
    top: 100%; /* Place it just below the input field */
    left: 0; /* Align to the left of the parent container */
    z-index: 9999; /* Ensure it's above other elements */
    margin-top: 5px; /* Optional: add some space between the input and results */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better visibility */
    width: 100%; /* Make it span the full width of the parent container */
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 75vh;
}


.result-box {
    padding: 15px;
    border-radius: 8px;
    background-color: #f3f9ff;
    margin-bottom: 10px;
}

.result-box span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-box .similarity-score{
    color: green;
}

.result-box .pdf-name{
    margin: 0;
    font-style: italic;
    font-weight: bold;
}

@media (max-width: 1024px) {

    .header-section{
        position: fixed;
        width: 100%;
        
    }
    .workspace {
        position: relative;
        /* overflow: hidden; */
    }
    .directory-container{
        display: none;
    }

    .document-search-wrapper, .folders-wrapper{
        margin: 10px;
    }

    .document-search-wrapper .document-search-input, .folders-header select {
        width: 185px;
    }

    .folders-header{
        padding: 10px;
    }


    body, html {
        margin: 0;
        padding: 0;
        /* overflow-x: hidden; Prevent horizontal scrolling on small screens */
        overflow: hidden;;
        background-color: #fff;
    }

}

/* Chatbot Section Styles */
.toggle-chat-mobile{
    display: none;
}

.chat-container {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    height: calc(100vh - 60px); /* Adjust height to fit below the header */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;

    /* to always keep it on the right and full hight no mateer how much 
    data are in the figures */
    position: fixed;
    right: 0;
}

.chat-container .chat-header{
    position: relative;
    width: 100%;
    height: 3vh;
}

.chat-container .chat-header .icon-expand{
    width: 20px;
    padding: 0;
}

.chat-container .chat-footer {
    width: 100%;
    padding: 10px;
    box-shadow: var(--box-shadow);
    border-radius: 8px;

    max-height: 10vh;
    height: auto;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;

    background-color: white; /* optional for clarity */
}

.chat-container .chat-footer textarea {
    flex: 1;
    max-height: 10vh; /* limit textarea height */
    min-height: 40px;
    height: auto;

    overflow-y: auto; /* enable scroll when full */
    resize: none;
    padding: 8px;

    border: none;
    outline: none;
    background-color: transparent;

    font-size: 1rem;
    line-height: 1.4;
    box-sizing: border-box;
}

.chat-container .chat-footer button {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.chat-container .start-chat-message-wrapper{
    display: block;
    max-height: 87vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.chat-container .start-chat-message-wrapper .chat-messages-suggestions{
    position: absolute;
    bottom: 15px;
    /* display: grid;
    grid-template-columns: auto auto auto; */
}

.chat-container .start-chat-message-wrapper .chat-messages-suggestions button{
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 15px;
    overflow: auto;
    text-align: center;
}

.chat-container .start-chat-message-wrapper .chat-messages-suggestions button:hover{
    box-shadow: var(--box-shadow-hover)
}

.chat-container .ai-model-chat-note{
    font-size: 16px;
    font-weight: 100;
    margin: 5px 0;
    text-align: center;
    width: 100%;
}

.chat-container .chat-message-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-container .chat-message-wrapper .user-message{
    align-self: flex-end;
    max-width: 60%;
    padding: 10px 20px;
    border-radius: 6px;
    background: var(--primary-bg-color);
    word-wrap: break-word;
    white-space: pre-wrap;
}

.chat-container .chat-message-wrapper .chatbot-message{
    align-self: flex-start;
    max-width: 60%;
    padding: 10px 20px;
    border-radius: 6px;
    color: var(--white);
    background: var(--secondary-font-color);
    word-wrap: break-word;
    white-space: pre-wrap;
}

/* ipad view */
@media (max-width: 960px){
    /* Chatbot Section Styles */
    /* .chat-container{
        display: none;
    } */

    .toggle-chat-mobile{
        position: fixed;
        bottom: 40px;
        right: 40px;
        z-index: 1050;
        width: auto;
        background-color: #fff;
        border-radius: 16px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        box-shadow: var(--box-shadow);
    }

    .toggle-chat-mobile p{
        width: 210px;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    .chat-container .chat-message-wrapper,
    .chat-container .start-chat-message-wrapper{
        height: 84vh;
    }

    .chat-container .start-chat-message-wrapper .chat-messages-suggestions{
        max-height: 30%;
        overflow-y: auto;
        padding: 5px 0;
    }

}

@media (max-width: 576px){

    .toggle-chat-mobile{
        position: fixed;
        bottom: 40px;
        right: 40px;
        z-index: 1050;
        width: auto;
        background-color: #fff;
        border-radius: 16px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        box-shadow: var(--box-shadow);
    }

    .toggle-chat-mobile p{
        width: 210px;
        padding: 0;
        margin: 0;
        text-align: left;
        
        -webkit-animation: seconds 1.0s forwards;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-delay: 5s;
        animation: seconds 1.0s forwards;
        animation-iteration-count: 1;
        animation-delay: 5s;
    }

    .chat-container .chat-message-wrapper,
    .chat-container .start-chat-message-wrapper{
        height: 84vh;

    }

}



